SimpleIntegration/
node_modules/
android/build/
android/.gradle/
ios/build/
**/*.log
.DS_Store
src/**/__tests__/
src/**/*.test.js
**/xcuserdata/
**/*.xcuserstate
payment-sdk-android/
package-lock.json
